<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

  <meta name="description" content="Conclua desafios, receba recompensas!">
  <meta name="keywords" content="Bootstrap, NodeJS, JavaScript">
  <meta name="author" content="Thiago Assi">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
    integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" 
    crossorigin="anonymous">

  <!-- Google Fonts -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Spicy+Rice&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap" rel="stylesheet"> 

  <!-- CSS Personalizado -->
  <link rel="stylesheet" href="/css/style.css">

  <title>Projeto Hilbert - Cadastro</title>
</head>

<body>
  
  <!-- CONTAINER -->
  <div class="container vh-100">
    
    {{>header}}
    
    <!-- MAIN -->
    <main class="row no-gutters row-main">
      <div class="row no-gutters align-items-center justify-content-center w-100">
        <div class="col-11 col-sm-9 col-md-7 col-lg-5 col-xl-4">
          
          <!-- CONTEÚDO -->
          <div class="rounded p-3 bg-light">
            <!-- FORMULÁRIO DE CADASTRO -->
            <form name="formCadastro" method="POST" action="/cadastrar">
              <!-- Usuário -->
              <div class="form-group">
                <label for="username">Digite um nome de usuário</label>
                <input type="text" class="form-control" id="username" name="username" autofocus
                  minlength="4" maxlength="16" pattern="[a-zA-Z0-9]+" title="Apenas caracteres alfanuméricos" required>
              </div>
              <!-- Senha -->
              <div class="form-group">
                <label for="password">Digite uma senha</label>
                <input type="password" class="form-control" id="password" name="password" 
                  minlength="8" maxlength="16" required>
              </div>
              <!-- Repetir senha -->
              <div class="form-group">
                <label for="password-check">Repita a senha</label>
                <input type="password" class="form-control" id="password-check" name="password-check" 
                  minlength="8" maxlength="16" required>
              </div>
            </form>
            <!-- /FORMULÁRIO -->
            <!-- Enviar -->
            <button class="btn btn-primary w-100 mt-2" onclick="validateForm()">Registrar-se</button>
            <!-- Separador -->
            <hr class="mt-4">
            <!-- Cadastro -->
            <p class="form-text">
              Já é registrado? <a href="/login">Faça login</a>
            </p>
          </div>

        </div>
      </div>
    </main>
    <!-- /MAIN -->
    
    <!-- FOOTER -->
    <footer class="row no-gutters row-footer">
      <div class="row no-gutters align-items-center w-100">
        <div class="col">

          <!-- ALERTAS -->
          <div class="alert alert-warning alert-dismissible fade show mb-0 mx-auto w-75 d-none" id="alert" role="alert">
            <div id="alert-message"></div>
            <button type="button" class="close" data-dismiss="alert" aria-label="Fechar">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          
        </div>
      </div>
    </footer>
    <!-- /FOOTER -->

  </div>
  <!-- /CONTAINER -->

  <!-- jQuery & Bootstrap Bundle (inclui o Popper) -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns"
    crossorigin="anonymous"></script>
  
  <!-- JS Personalizado -->
  <script src="/js/form-cadastro.js"></script>
</body>

</html>