@import url('https://fonts.googleapis.com/css2?family=Kiwi+Maru&family=Montserrat&display=swap');

/*** FONTES ***/

body {
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Kiwi Maru', serif;
}

/*** CORES ***/

body {
  background-color: #447A9C;
}

h1 {
  color: #fff;
}

form {
  background-color: #F1F6F9;
}

/* CABEÇALHO, CONTEÚDO E RODAPÉ */ 
.row-header {
  height: 30%;
}

.row-main {
  height: 50%;
}

.row-footer {
  height: 20%;
}

/* PERSONALIZADO */
a.link-transition {
  display: inline-block;
  text-decoration:none;
  transition: 0.3s;
  cursor:pointer; 
}

a.link-transition:hover {
  transform: scale(1.01);
  transition: 0.3s;
}